################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentitySolution/.vs/IdentitySolution/v15/Server/sqlite3/db.lock
